<% provide(:title,"所有用户")%>
<div>
  <% if current_user.admin? %>
    <div class="adminmanage">
      <input type="button" class="button" value="用户管理" onclick="usermanage(this)">
      <input type="button" class="button" value="举报信息" onclick="reportmanage(this)">
    </div>

  <!-- 用户管理界面 -->
  <div id="usermanage_page">
    <h1 class="choose_word">用户列表</h1>
    <%= will_paginate %>
      <div class="all_users">
        <% @users.each do |user|%>
        <li><%= render user %>
          <% if !(user==current_user) %>
          <input type="button" value="<%= user.status=="pass" ? "禁用" : "启用"%>" onclick="changestatus(this,<%= user.id %>)">
          |<%= link_to 'delete',user,method: :delete %>
        </li>
          <% end %>
        <% end %>
      </div>
    <%= will_paginate %>
  </div>

  <!-- 举报管理界面 -->
  <div id="reportmanage_page" style="display:none;">
    <div class="reporttitle">
      <input type="button" class="button" value="全部信息" onclick="not_view_report(this)">
      <input type="button" class="button" value="已查看" onclick="viewed_report(this)">
      <input type="button" class="button" value="已删除" onclick="delete_report(this)">
    </div>
      <!-- 全部 -->
    <div class="reportlist">
      <div id="not_view_report_page">
        全部的举报信息
        <div class="report_content">
          <% @reports.each do |report| %>
          <div id="box">
            <% if report.status != "deleted" %>
              <li>举报人id:<%= link_to report.user_id %>
              ||被举报的用户 id:<%= link_to report.micropost.user.id %>
              ||微博内容：<%=  report.micropost.content %>
              ||举报理由：<%=  report.content %>
              ||<a href="/report_viewed?report_id=<%= report.id %>" data-remote="true">已阅</a>
              <!-- ||<input type="button" value="已阅" onclick="change_viewed(<%= report.id %>)" /> -->
              </li>
              <% end %>
          </div>
         <% end %>
        </div>
      </div>
      <!-- 已查看 -->
        <div id="viewed_report_page" style="display:none;">
          已看的举报信息
          <div class="report_content">
            <% @reports.each do |report| %>
            <% if report.status== "viewed" %>
              <li>
              举报人id:<%= link_to report.user_id %>
              ||被举报的用户 id:<%= link_to report.micropost.user.id %>
              ||微博内容：<%=  report.micropost.content %>
              ||举报理由：<%=  report.content %>
              ||<a href="/report_deleted?report_id=<%= report.id%>" data-remote="true">删除</a>
              <!-- ||<input type="button" value="删除" onclick="change_deleted(<%= report.id %> )"> -->
              </li>
            <% end %>
          <% end %>
          </div>
        </div>
      <!-- 已删除 -->
        <div id="delete_report_page" style="display:none;">
          删除的举报信息
          <div class="report_content">
            <% @reports.each do |report| %>
              <% if report.status== "deleted" %>
                <li>
                举报人id:<%= link_to report.user_id %>
                ||被举报的用户 id:<%= link_to report.micropost.user.id %>
                ||微博内容：<%=  report.micropost.content %>
                ||举报理由：<%=  report.content %>
                ||<a href="/report_viewed?report_id=<%= report.id %>" data-remote="true">恢复删除</a>
                <!-- ||<input type="button" value="恢复删除" onclick="change_viewed(<%= report.id %> )"> -->
                ||<a href="/report_destroy?report_id=<%= report.id %>" data-remote="true">彻底删除</a>
                <!-- <input type="button" value="彻底删除" onclick="change_destroy(<%= report.id %> )"> -->
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% else %>
    <div>
<!--       <%= form_tag search_name_users_path, :method => :get do -%>
        <div id="search">
         <%=text_field_tag "q"%>
         <%= submit_tag '查找', :class => 'button' %>
        </div>
      <% end -%> -->
      <h1 class="choose_word">所有的用户</h1>
        <div class="all_users">
          <% @users.each do |user|%>
          <li><%= render user %></li>
          <% end %>
        </div>
      <%= will_paginate @users %>
    </div>

  <% end %>
</div>


<script type="text/javascript">

  // function show(){
  //   var box = document.getElementById("box");
  //   var text = box.innerHTML;
  //   var newBox = document.createElement("div");
  //   var btn = document.createElement("a");
  //   newBox.innerHTML = text.substring(0,50);
  //   btn.innerHTML = text.length > 50 ? "...显示全部" : "";
  //   btn.href = "###";
  //   btn.onclick = function(){
  //     if (btn.innerHTML == "...显示全部"){
  //       btn.innerHTML = "收起";
  //       newBox.innerHTML = text;
  //     }
  //     else{
  //       btn.innerHTML = "...显示全部";
  //       newBox.innerHTML = text.substring(0,50);
  //     }
  //   }
  //   box.innerHTML = "";
  //   box.appendChild(newBox);
  //   box.appendChild(btn);
  //   }
  //   show();


  function usermanage(){
    document.getElementById("usermanage_page").style.display="block"
    document.getElementById("reportmanage_page").style.display="none"
  };

  function reportmanage(){
    document.getElementById("reportmanage_page").style.display="block"
    document.getElementById("usermanage_page").style.display="none"
  }

  function not_view_report(){
    document.getElementById("not_view_report_page").style.display="block"
    document.getElementById("viewed_report_page").style.display="none"
    document.getElementById("delete_report_page").style.display="none"
  }

  function viewed_report(){
    document.getElementById("not_view_report_page").style.display="none"
    document.getElementById("viewed_report_page").style.display="block"
    document.getElementById("delete_report_page").style.display="none"
  }

  function delete_report(){
    document.getElementById("not_view_report_page").style.display="none"
    document.getElementById("viewed_report_page").style.display="none"
    document.getElementById("delete_report_page").style.display="block"
  }
  function change_viewed(report_id){
    window.location.href="localhost:3000/report_viewed?report_id="+report_id
  }

  // function change_viewed(report_id){
  //   var report_status=$(report_status).val();
  //   $.ajax({
  //            type: 'get',
  //            url: "report_viewed" ,
  //            data: {
  //               report_id : report_id

  //            },
  //            dataType: 'json',
  //            success: function(data){

  //            }
  //       });
  // }

  // function change_deleted(report_id){
  //   var report_status=$(report_status).val();
  //   $.ajax({
  //            type: 'get',
  //            url: "report_deleted" ,
  //            data: {
  //               report_id : report_id

  //            },
  //            dataType: 'json',
  //            success: function(data){

  //            }
  //       });
  // }


  // function change_destroy(report_id){
  //     var report_status=$(report_status).val();
  //     $.ajax({
  //              type: 'get',
  //              url: "report_destroy" ,
  //              data: {
  //                 report_id : report_id

  //              },
  //              dataType: 'json',
  //              success: function(data){

  //              }
  //         });
  //   }

  function changestatus(obj,user_id){
    var obj_val=$(obj).val();
    if (obj_val=="禁用"){
      var type=1;
    }
    else{
      var type=0;
    }
    $.ajax({
         type: 'get',
         url: "changestatus" ,
         data: {
          type : type,
          id : user_id
         } ,
         dataType: 'json',
         success: function(data){
          if (type==1){
              $(obj).val("启用");
              alert("已禁用");
          }
            else{
              $(obj).val("禁用");
              alert("已启用");
            }
         }
    });

}



</script>



