<h1 class="title">用户登陆</h1>

<div class="login_out">
    <%= form_for(:session, url: login_path) do |f| %>

      <li><%= f.label :email,"Email:",:class=>"inputname"%></li>
      <li><%= f.email_field :email ,:class=>"inputinput"%></li>

      <li><%= f.label :password,"输入密码:" ,:class=>"inputname"%></li>
      <li><%= f.password_field :password ,:class=>"inputinput"%></li>

      <li><%= f.submit "log in",:class=>"login_button"%></li>

    <% end %>
</div>