<% provide(:title,@user.name)%>
<div>
  <h1>
  <%= gravatar_for @user %>
  <%= @user.name %></h1>
  <%= render 'shared/stats'%>
</div>

  <%= render 'follow_form'%>


<div id="micropost_comment_middle">
    <h1 class="choose_word">发布的微博</h1>
    <%= will_paginate @microposts %>
    <% @microposts.each do |micropost| %>

    <div class="micropost_comment_in">
      <p class="head_name"><%= micropost.user.name %></p>
      <p class="micropost_word">
        <li><%= micropost.content if micropost %></li>
            <%= link_to "//@"+micropost.parent.user.name, micropost.user if micropost.parent%>
            <%= micropost.parent.content if micropost.parent %>
            <%= image_tag micropost.parent.picture.url if micropost.parent && micropost.parent.picture? %>
        <%= image_tag micropost.picture.url if micropost.picture? %>
        <%= link_to "delete",micropost, method: :delete %>
        <span>Posted <%= time_ago_in_words(micropost.created_at)%> ago</span>
      </p>
      <div class="comment_goods">
        <p class="is_goods_count" style="float:left">(<%= micropost.is_good.to_i %>)</p>
        <input type="button" class="is_good" value="<%=micropost.goods.map(&:user_id).include?(current_user.id) ? '取消赞' : '赞'%>" onclick="is_good(this,<%= current_user.id%>,<%= micropost.id%>)" style="float:left" >
        <div>
          <%= form_for @comment do |f| %>
            <%= f.hidden_field :user_id,:value=>current_user.id %>
            <%= f.hidden_field :micropost_id,:value=>micropost.id %>
            <%= f.text_area :content,:placeholder=>"输入你的评论",
                          :class=>"comment_input" %>
            <%= f.submit "评论" %>
          <% end %>
        </div>
      </div>
      <div>
        <% micropost.comments.each do |comment| %>
          <li class="comment_word_out">
            <p class="head_name"><%= comment.user.name %></p>
            <p class="comment_word">
              <%= comment.content if comment %>
            </p>
          </li>
      <% end %>
      </div>
    </div>
    <% end %>
    <%= will_paginate @microposts %>
  </div>

  <script type="text/javascript">

  function is_good(obj,user_id,micropost_id){
    var obj_val = $(obj).val();
    // var user_id = $(obj).parent("div").find("input[name='comment[user_id]']").val();
    // var micropost_id = $(obj).parent("div").find("input[name='comment[micropost_id]']").val();
    if (obj_val=="赞"){
      var type = 1;
    }else{
      var type = 0;
    }
    $.ajax({
         type: 'get',
         url: "/is_goods" ,
         data: {
            user_id : user_id,
            micropost_id : micropost_id,
            type : type
         },
         dataType: 'json',
         success: function(data){
          $(obj).parent("div").find(".is_goods_count").html("("+data.is_goods+")");
          if (type==1){
              $(obj).val("取消赞");
          }
            else{
              $(obj).val("赞");
            }

         }
    });
  }
  </script>