<div class="micropost_input">
  <%= form_for @micropost do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :user_id,:value=>current_user.id%>

      <li><%= f.text_area :content ,:class=>"input", placeholder:"输入微博"%></li>

    <p><%= f.submit "提交", :class=>"micropost_button" %>
  <% end %>
</div>