<p class="choose_button">
  <input type="button" class="button" value="所有人的微博" onclick="allmicropost(this)">
  <input type="button" class="button" value="自己的微博" onclick="ownmicropost(this)">
</p>

<div class="micropost_comment_out">
  <div id="allmicroposts">
    <h1 class="choose_word">这是所有人的微博</h1>
    <% @allmicroposts.each do |micropost| %>

    <div class="micropost_comment_in">
      <p class="head_name"><%= micropost.user.name %></p>
      <p class="micropost_word">
        <%= micropost.content if micropost %>
        <%= link_to "delete",micropost, method: :delete %>
        <span>Posted <%= time_ago_in_words(micropost.created_at)%> ago</span>
      </p>
      <div class="comment_goods">
        <p class="is_goods_count" style="float:left">
          (<%= micropost.is_good.to_i %>)
        </p>
        <input type="button" class="is_good" value="赞" onclick="is_good(this)" style="float:left" >
        <div>
          <%= form_for @comment do |f| %>
            <%= f.hidden_field :user_id,:value=>current_user.id %>
            <%= f.hidden_field :micropost_id,:value=>micropost.id %>
            <%= f.text_area :content,:placeholder=>"输入你的评论",
                          :class=>"comment_input" %>
            <%= f.submit "评论" %>
          <% end %>
        </div>
      </div>
      <div>
        <% micropost.comments.each do |comment| %>
          <li class="comment_word_out">
            <p class="head_name"><%= comment.user.name %></p>
            <p class="comment_word">
              <%= comment.content if comment %>
            </p>
          </li>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>



  <div id="micropost_comment_middle" style="display:none;">
    <h1 class="choose_word">这是自己的微博</h1>
    <% @microposts.each do |micropost| %>

    <div class="micropost_comment_in">
      <p class="head_name"><%= micropost.user.name %></p>
      <p class="micropost_word">
        <%= micropost.content if micropost %>
        <%= link_to "delete",micropost, method: :delete %>
        <span>Posted <%= time_ago_in_words(micropost.created_at)%> ago</span>
      </p>
      <div class="comment_goods">
        <p class="is_goods_count" style="float:left">(<%= micropost.is_good.to_i %>)</p>
        <input type="button" class="is_good" value="赞" onclick="is_good(this)" style="float:left" >
        <div>
          <%= form_for @comment do |f| %>
            <%= f.hidden_field :user_id,:value=>current_user.id %>
            <%= f.hidden_field :micropost_id,:value=>micropost.id %>
            <%= f.text_area :content,:placeholder=>"输入你的评论",
                          :class=>"comment_input" %>
            <%= f.submit "评论" %>
          <% end %>
        </div>
      </div>
      <div>
        <% micropost.comments.each do |comment| %>
          <li class="comment_word_out">
            <p class="head_name"><%= comment.user.name %></p>
            <p class="comment_word">
              <%= comment.content if comment %>
            </p>
          </li>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  function allmicropost(){
    document.getElementById("allmicroposts").style.display="block"
    document.getElementById("micropost_comment_middle").style.display="none"
  }

  function ownmicropost(){
    document.getElementById("allmicroposts").style.display="none"
    document.getElementById("micropost_comment_middle").style.display="block"
  }

  function is_good(obj){
    var obj_val = $(obj).val();
    var user_id = $(obj).parent("div").find("input[name='comment[user_id]']").val();
    var micropost_id = $(obj).parent("div").find("input[name='comment[micropost_id]']").val();
    if (obj_val=="赞"){
      var type = 1;
    }else{
      var type = 0;
    }
$.ajax({
     type: 'get',
     url: "/is_goods" ,
     data: {
      user_id : user_id,
      micropost_id : micropost_id,
      type : type
     } ,
     dataType: 'json',
     success: function(data){
      $(obj).parent("div").find(".is_goods_count").html("("+data.is_goods+")");
      if (type==1){
          $(obj).val("取消赞");
      }
        else{
          $(obj).val("赞");
        }

     }
});
  }
</script>
