<div>
  <li>
    <%= link_to gravatar_for(micropost.user, size: 55), micropost.user %>
    <%= link_to micropost.user.name, micropost.user %>
    <%= micropost.content %>

    <% if micropost.parent %>
      <% c = micropost.parent %>
        <% while c.parent %>
          <%= link_to "//@"+c.user.name, micropost.user %>
          <%= c.content %>
          <% c= c.parent %>

        <% end %>

          <%= link_to "//@"+c.user.name, micropost.user %>
          <%= c.content %>
          <%= image_tag c.picture.url if c.picture? %>

    <% end %>
    <%= image_tag micropost.picture.url if micropost.picture? %>


    <div>Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete",micropost, method: :delete,
                                        data: { confirm: "You sure?"} %>
      <% end %>
    </div>
    <div>
        <p class="is_goods_count" style="float:left">(<%= micropost.is_good.to_i %>)</p>
        <input type="button" class="is_good" value="<%=micropost.goods.map(&:user_id).include?(current_user.id) ? '取消赞' : '赞'%>" onclick="is_good(this,<%= current_user.id%>,<%= micropost.id%>)" style="float:left" >
      <input type="button" class="is_report" value="<%=micropost.reports.map(&:user_id).include?(current_user.id) ? '取消举报' : '举报'%>" onclick="is_report(this,<%= current_user.id %>,<%= micropost.id %>)">
      <input type="button" value="转发微博" onclick="forwarding_micropost(<%= micropost.id %>,<%= micropost.parent_id.to_i %>)">
    </div>
    <div>
      <%= form_for @comment do |f| %>
        <%= f.hidden_field :user_id,:value=>current_user.id %>
        <%= f.hidden_field :micropost_id,:value=>micropost.id %>
        <%= f.text_area :content,:placeholder=>"输入你的评论",
                        :class=>"comment_input" %>
        <%= f.submit "评论" %>
      <% end %>
    </div>

    <div>
      <% micropost.comments.each do |comment| %>
      <li>
        <%= link_to gravatar_for(comment.user, size: 40), comment.user %>
        <%= link_to comment.user.name, micropost.user%>
        <%= comment.content if comment %>
        // Posted <%= time_ago_in_words(comment.created_at) %> ago.
        <% if current_user?(comment.user)%>
          <%= link_to "delete",comment, method: :delete,
                                        data: { confirm: "You sure?"} %>
        <% end %>
      </li>
      <% end %>
    </div>
  </li>
</div>

<script type="text/javascript">

  function is_good(obj,user_id,micropost_id){
    var obj_val = $(obj).val();
    // var user_id = $(obj).parent("div").find("input[name='comment[user_id]']").val();
    // var micropost_id = $(obj).parent("div").find("input[name='comment[micropost_id]']").val();
    if (obj_val=="赞"){
      var type = 1;
    }else{
      var type = 0;
    }
    $.ajax({
         type: 'get',
         url: "/is_goods" ,
         data: {
            user_id : user_id,
            micropost_id : micropost_id,
            type : type
         },
         dataType: 'json',
         success: function(data){
          $(obj).parent("div").find(".is_goods_count").html("("+data.is_goods+")");
          if (type==1){
              $(obj).val("取消赞");
          }
            else{
              $(obj).val("赞");
            }
         }
    });
  }

  function is_report(obj,user_id,micropost_id){
    var obj_val = $(obj).val();
    if (obj_val=="举报"){
      var type = 1;
      var report_content = prompt("输入举报理由");
      alert(report_content);
      if (report_content==null || report_content==""){
        alert(22);
        return false;
      }
    }else{
      var type = 0;
    }
    $.ajax({
             type: 'get',
             url: "/is_reports" ,
             data: {
                user_id : user_id,
                micropost_id : micropost_id,
                report_content : report_content,
                type : type
             },
             dataType: 'json',
             success: function(data){
              if (type==1){
                  $(obj).val("取消举报");
                  alert("举报成功");
              }
                else{
                  $(obj).val("举报");
                  alert("取消成功");
                }
             }
        });
  }

  function forwarding_micropost( micropost_id,micropost_parent_id ){
    var forwarding_content = prompt("转发内容");
    // var micropost_content = document.getElementById("con");
    alert(micropost_id);
    $.ajax({
             type: 'get',
             url: "/forwarding_micropost" ,
             data: {
                micropost_id : micropost_id,
                forwarding_content : forwarding_content,
                micropost_parent_id : micropost_parent_id,
             },
             dataType: 'json',
             success: function(data){
               location.href="http://localhost:3000/";
             }
        });
  }

</script>

